<%= render 'layouts/header' %>

<div id="new-outfit" class="general-page">
  <h1>New Outfit</h1>

  <%= render 'form' %>

  <%= link_to(generate_path, relative: true) do %>
    <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back') %>
  <% end %>
</div>
