<body style= "background: url(http://media-cache-ak0.pinimg.com/originals/b5/ec/04/b5ec0411aa9e8694fd870fbf5a2e70a9.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
  <div id="new-user-page" class="general-page">

    <h1>New user</h1>

    <%= render 'form' %>

    <%= link_to(root_path, relative: true) do %>
      <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back', :class => 'cust_button') %>
    <% end %>

    <br>
    <%= link_to 'Has an account already? Login here', login_path %>
  </div>

</body>
