<h1> About Closétap </h1>

<p>
What should I wear tomorrow?  Do I really need another plaid chambray shirt? Does this match? Didn't I throw out those black shoes last winter? What do I even own?? 

Stop pulling everything out of your closet before that date!

Closetap allows you to catalog & inventory the items in your closet, categorizing by description and adding photo images.

Create an account with Closetap to browse your closet, check the weather and see what to wear today, generate a random outfit, and save cute outfits for another occasion.
</p>

<%= link_to("Home", root_path) %>
