<body style= "background: url(http://media-cache-ak0.pinimg.com/originals/b5/ec/04/b5ec0411aa9e8694fd870fbf5a2e70a9.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
  <div id="about-page" class="general-page">
    <img id="logo-about" src="http://i59.tinypic.com/358c6r7.png" />

    <p class="about-page-text">
    What should I wear tomorrow?<br>
    Do I really need another plaid chambray shirt? Does this match?<br>
    Didn't I throw out those black shoes last winter? What do I even own??<br>
    </p>
    <p class="about-page-text">
    Stop pulling everything out of your closet before that date!
    </p>
    <p class="about-page-text">
    Closetap allows you to catalog & inventory the items in your closet, categorizing by description and adding photo images.
    </p>
    <p class="about-page-text">
    Create an account with Closetap to browse your closet, check the weather and see what to wear today, generate a random outfit, and save cute outfits for another occasion.
    </p>

    <%= link_to(root_path, relative: true) do %>
      <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back', :class => "cust_button") %>
    <% end %>
  </div>
</body>
