<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="<%= root_path %>">Closétap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Do</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">We</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Need</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">These</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">???</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Closétap!</div>
                <div class="intro-heading">Can We Borrow Some Clothes?</div>
                <a href="<%= login_path %>" class="page-scroll btn btn-xl">Login!</a>
            </div>
        </div>
    </header>



</body>

</html>


