<header>
  <div class="home"><span><%= link_to "Dashboard", root_path %></span></div>
  <div class="profile">
    <span><%= link_to 'Profile', user_path(current_user) %></span><br/>
    <span><%= link_to("Logout", session_path, method: :delete) %></span>
  </div>
  <hr/>
</header>
