<header>
  <div class="left">
    <a class="navbar-brand page-scroll" href="<%= root_path %>"><img class = "image" src="http://i59.tinypic.com/358c6r7.png"></a>
  </div>
  <div class="menu_bar">
    <%= link_to "Dashboard", root_path %> &nbsp; &nbsp; &nbsp;&nbsp;
    <%= link_to 'Profile', user_path(current_user) %> &nbsp; &nbsp; &nbsp; &nbsp;
    <%= link_to("Logout", session_path, method: :delete) %>
  </div>
  <div style="clear: both;">
  <hr/>
</header>
