<!DOCTYPE html>
<html>
<head>
  <title>ClosetApp</title>
<link rel=”stylesheet” href=”css/bootstrap.css”  type=”text/css”/>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src=”js/bootstrap.js”></script>
</body>
</html>
